body {
    background-color: #e9e9e9;
}

.navbar {
    color: #fff;
    background-color: #000;
}

.jumbotron {
    border-radius: 0;
    /*border-bottom: #c9a207 solid 4px;*/
}

h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

.by-line {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.spacing {
    margin: auto;
}

.btn-secondary {
    background: #fff;
    color: #000;
    /* background: #d83948;*/
    padding: 7px 12px;
    margin: 0 10px 10px 0;
    border: 0;
    border-radius: 5px;
}

.btn-secondary:hover {
    background: #e9e9e9;
    color: #000;
}

.actorGif {
    float: left;
    margin: 12px;
}

.logo {
    width: 40%;
    align-content: center;
}

.jumbotron {
    background-image: url(../images/snl_bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #dddbdc;*/
}